* {
    font-family: "Spartan", sans-serif;
}

body {
    background-image: url("/social-proof-section-master/images/bg-pattern-top-desktop.svg");
    margin: 100px;
    font-size: 15px;
}

div.container div.headline-rate {
    display: flex;
    justify-content: space-between;
}

div.container div.buyer {
    display: flex;
}

div.container div div p.headline-paragraph {
    padding-right: 820px;
}

div.container div div p.headline-paragraph span {
    font-weight: 900;
    font-size: 35px;
    color: #502050;
}
