* {
    font-family: "Spartan", sans-serif;
}

body {
    background-image: url("/social-proof-section-master/images/bg-pattern-top-desktop.svg");
    margin: 100px;
    font-size: 15px;
}

/* div.container {
    display: flex;
    flex-direction: column;
} */

div.container div.headline-rate {
    display: flex;
    justify-content: space-between;
}

div.container div.buyer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-wrap: nowrap; */
}

div.container div div p.headline-paragraph {
    padding-right: 100px;
}

div.container div div p.headline-paragraph span.head {
    font-weight: 900;
    font-size: 35px;
    color: #502050;
}

div.container div div p.headline-paragraph span.head-gap {
    line-height: 25px;
}

div.container div.headline-rate div div p {
    background-color: #f7f2f7;
    border-radius: 6px;
    padding: 15px 0;
    padding-left: 30px;
    padding-right: 70px;
}

div.container div div.rate div.review {
    margin-right: 150px;
}

div.container div div.rate div.guru {
    margin-right: 100px;
    margin-left: 50px;
}

div.container div div.rate div.besttech {
    margin-right: 50px;
    margin-left: 100px;
}

div.container div div.rate div p span {
    font-weight: 900;
    color: #502050;
    margin-left: 30px;
}

div.container div div.rate div p img {
    margin-right: 3px;
}

/* div.container div.buyer div {
    justify-content: flex-start;
} */

div.container div.buyer div {
    background-color: #502050;
    border-radius: 10px;
    margin: 10px 0;
    margin-right: 35px;
    padding: 40px;
}

div.container div.buyer div.anne {
    margin-right: 50px;
}

div.container div.buyer div p img {
    border-radius: 40%;
}

div.container div.buyer div p span {
    color: #ffffff;
    font-weight: bold;
}

div.container div.buyer div p span span.verified-buyer {
    color: #ee68a4;
}

div.container div.buyer div p span span.quotes {
    line-height: 25px;
    padding: 2px;
}

div.container div.buyer div.colton {
    margin-bottom: 150px;
}

div.container div.buyer div.irene {
    margin-bottom: 120px;
    margin-top: 30px;
}

div.container div.buyer div.anne {
    margin-bottom: 30px;
    margin-top: 50px;
}

.name {
    margin-top: 0;
}

footer {
    margin-top: 1px;
    text-align: center;
    padding: 3px;
    background-color: #502050;
    color: white;
}

footer a {
    color: #ee68a4;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #c959c6;
}
